USE [master]
GO
/****** Object:  Database [Caso3]    Script Date: 2/6/2025 23:12:53 ******/
CREATE DATABASE [Caso3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Caso3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Caso3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Caso3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Caso3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Caso3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Caso3]
GO
/****** Object:  Table [dbo].[VotuAccessRestrictions]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuAccessRestrictions](
	[restrictionId] [int] IDENTITY(1,1) NOT NULL,
	[entityType] [varchar](10) NOT NULL,
	[entityId] [int] NOT NULL,
	[ruleType] [varchar](10) NOT NULL,
	[ruleDefinition] [nvarchar](400) NOT NULL,
	[activeFrom] [datetime2](6) NOT NULL,
	[activeTo] [datetime2](6) NULL,
	[isActive] [bit] NOT NULL,
	[comment] [nvarchar](200) NULL,
 CONSTRAINT [PK_VotuAccessRestrictions] PRIMARY KEY CLUSTERED 
(
	[restrictionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuAdresses]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuAdresses](
	[addressId] [int] IDENTITY(1,1) NOT NULL,
	[postalCode] [varchar](10) NOT NULL,
	[direccion] [varchar](300) NULL,
	[createdAt] [datetime] NULL,
	[updateAt] [datetime] NULL,
	[point] [geography] NOT NULL,
	[distritoID] [int] NOT NULL,
 CONSTRAINT [PK_VotuAdresses] PRIMARY KEY CLUSTERED 
(
	[addressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuAIModels]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuAIModels](
	[modelId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[provider] [varchar](50) NOT NULL,
	[version] [varchar](20) NOT NULL,
	[endpointUrl] [nvarchar](200) NOT NULL,
	[isEnabled] [bit] NOT NULL,
	[createdAt] [datetime2](6) NOT NULL,
 CONSTRAINT [PK_VotuAIModels] PRIMARY KEY CLUSTERED 
(
	[modelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuAITaskPayloads]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuAITaskPayloads](
	[payloadId] [bigint] IDENTITY(1,1) NOT NULL,
	[taskID] [bigint] NOT NULL,
	[direction] [char](3) NOT NULL,
	[payload] [varbinary](max) NOT NULL,
	[sizeBytes] [int] NULL,
	[createdAt] [datetime2](6) NOT NULL,
 CONSTRAINT [PK_VotuAITaskPayloads] PRIMARY KEY CLUSTERED 
(
	[payloadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuAITasks]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuAITasks](
	[taskId] [bigint] IDENTITY(1,1) NOT NULL,
	[modelID] [int] NOT NULL,
	[taskTrigger] [varchar](30) NOT NULL,
	[entityTable] [varchar](50) NULL,
	[entityId] [bigint] NULL,
	[status] [varchar](10) NOT NULL,
	[requestedAt] [datetime2](6) NOT NULL,
	[startedAt] [datetime2](6) NULL,
	[completedAt] [datetime2](6) NULL,
 CONSTRAINT [PK_VotuAITasks] PRIMARY KEY CLUSTERED 
(
	[taskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuAIValidationResults]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuAIValidationResults](
	[resultId] [bigint] IDENTITY(1,1) NOT NULL,
	[taskID] [bigint] NOT NULL,
	[isValid] [bit] NOT NULL,
	[score] [decimal](5, 2) NULL,
	[summary] [nvarchar](4000) NULL,
	[createdAt] [datetime2](6) NOT NULL,
 CONSTRAINT [PK_VotuAIValidationResults] PRIMARY KEY CLUSTERED 
(
	[resultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuCantones]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuCantones](
	[cantonesId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[provincesID] [int] NOT NULL,
 CONSTRAINT [PK_VotuCantones] PRIMARY KEY CLUSTERED 
(
	[cantonesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuComments]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuComments](
	[commentId] [int] IDENTITY(1,1) NOT NULL,
	[parentCommentId] [int] NULL,
	[commentType] [varchar](30) NOT NULL,
	[isFiscalization] [bit] NOT NULL,
	[commentText] [varchar](2000) NOT NULL,
	[commentTextEncrypted] [varbinary](max) NULL,
	[attachedDocumentIds] [varchar](500) NULL,
	[validationStatus] [varchar](20) NOT NULL,
	[validatedByAI] [bit] NOT NULL,
	[moderatedAt] [datetime] NULL,
	[rejectionReason] [varchar](50) NULL,
	[fiscalizationSeverity] [varchar](20) NULL,
	[evidenceJSON] [varchar](max) NULL,
	[requiresVoting] [bit] NOT NULL,
	[likesCount] [int] NOT NULL,
	[isEdited] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[deletedAt] [datetime] NULL,
	[ipHash] [varbinary](32) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[proposalID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[aiTaskID] [bigint] NULL,
	[moderatorUserID] [int] NULL,
	[deletedByUserID] [int] NULL,
 CONSTRAINT [PK_VotuComments] PRIMARY KEY CLUSTERED 
(
	[commentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuCountries]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuCountries](
	[countryId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[allowsVoting] [bit] NOT NULL,
 CONSTRAINT [PK_VotuCountries] PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuDistritos]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuDistritos](
	[distritosId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[cantonesID] [int] NOT NULL,
 CONSTRAINT [PK_VotuDistritos] PRIMARY KEY CLUSTERED 
(
	[distritosId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuEncriptionKeys]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuEncriptionKeys](
	[keyId] [int] IDENTITY(1,1) NOT NULL,
	[keyType] [varchar](8) NOT NULL,
	[keySizeBits] [smallint] NOT NULL,
	[publicKey] [varbinary](max) NULL,
	[vaultRef] [nvarchar](200) NOT NULL,
	[purpose] [varchar](6) NOT NULL,
	[createdAt] [datetime2](6) NOT NULL,
	[expiresAt] [datetime2](6) NULL,
	[isActive] [bit] NOT NULL,
	[comment] [nvarchar](200) NULL,
 CONSTRAINT [PK_VotuEncriptionKeys] PRIMARY KEY CLUSTERED 
(
	[keyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuIdentities]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuIdentities](
	[identityId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[identityType] [varchar](50) NOT NULL,
	[identityNumber] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[expiresAt] [datetime] NULL,
	[createdAt] [datetime] NULL,
	[lastUpdate] [datetime] NULL,
 CONSTRAINT [PK_VotuIdentities] PRIMARY KEY CLUSTERED 
(
	[identityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuIdentityChecks]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuIdentityChecks](
	[checkId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[taskId] [bigint] NULL,
	[checkType] [varchar](30) NOT NULL,
	[result] [bit] NOT NULL,
	[score] [decimal](5, 2) NULL,
	[checkedAt] [datetime2](6) NOT NULL,
	[comment] [nvarchar](400) NULL,
 CONSTRAINT [PK_VotuIdentityChecks] PRIMARY KEY CLUSTERED 
(
	[checkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuIdentityValidations]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuIdentityValidations](
	[validationId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[validatorID] [int] NOT NULL,
	[status] [varchar](10) NOT NULL,
	[signedAt] [datetime2](6) NULL,
	[comment] [nvarchar](400) NULL,
 CONSTRAINT [PK_VotuIdentityValidations] PRIMARY KEY CLUSTERED 
(
	[validationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuKeyShares]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuKeyShares](
	[shareId] [int] IDENTITY(1,1) NOT NULL,
	[keyID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[sharePart] [varbinary](max) NOT NULL,
	[createdAt] [datetime2](6) NOT NULL,
 CONSTRAINT [PK_VotuKeyShares] PRIMARY KEY CLUSTERED 
(
	[shareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuLedger]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuLedger](
	[ledgerId] [bigint] IDENTITY(1,1) NOT NULL,
	[tableName] [varchar](50) NOT NULL,
	[recordId] [bigint] NOT NULL,
	[prevHash] [varbinary](64) NULL,
	[currHash] [varbinary](64) NOT NULL,
	[sig] [varbinary](max) NOT NULL,
	[timestamp] [datetime2](6) NOT NULL,
 CONSTRAINT [PK_VotuLedger] PRIMARY KEY CLUSTERED 
(
	[ledgerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuMFA]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuMFA](
	[mfaId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[MFAtype] [varchar](50) NOT NULL,
	[lastUsed] [datetime] NULL,
	[lastUpdate] [datetime] NULL,
	[createdAt] [datetime] NULL,
 CONSTRAINT [PK_VotuMFA] PRIMARY KEY CLUSTERED 
(
	[mfaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuMFAMethods]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuMFAMethods](
	[mfaId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[methodType] [varchar](20) NOT NULL,
	[secret] [varbinary](256) NOT NULL,
	[addedAt] [datetime2](6) NOT NULL,
	[lastVerifiedAt] [datetime2](6) NULL,
	[isActive] [bit] NOT NULL,
	[comment] [nvarchar](200) NULL,
 CONSTRAINT [PK_VotuMFAMethods] PRIMARY KEY CLUSTERED 
(
	[mfaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuNotificationTemplates]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuNotificationTemplates](
	[notiTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[templateCode] [nchar](10) NULL,
 CONSTRAINT [PK_VotuNotificationTemplates_1] PRIMARY KEY CLUSTERED 
(
	[notiTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuOrganizations]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuOrganizations](
	[organizationId] [int] IDENTITY(1,1) NOT NULL,
	[legalId] [varchar](60) NOT NULL,
	[name] [varchar](60) NOT NULL,
	[commercialName] [varchar](60) NULL,
	[description] [varchar](500) NULL,
	[websiteURL] [varchar](300) NULL,
	[email] [varchar](100) NULL,
	[phone] [nchar](10) NULL,
	[verificationStatus] [bit] NOT NULL,
	[verifiedAt] [datetime] NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[addressID] [int] NOT NULL,
	[logoMediaID] [int] NULL,
 CONSTRAINT [PK_VotuOrganizations] PRIMARY KEY CLUSTERED 
(
	[organizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuOrganizationTypes]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuOrganizationTypes](
	[organizationTypeId] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [varchar](60) NOT NULL,
	[description] [varchar](60) NULL,
	[requiresValidation] [bit] NOT NULL,
	[canCreateProposals] [bit] NOT NULL,
	[canInvest] [bit] NOT NULL,
	[canValidate] [bit] NOT NULL,
	[feePercentage] [decimal](18, 2) NULL,
	[equityPercentage] [decimal](18, 2) NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_VotuOrganizationTypes] PRIMARY KEY CLUSTERED 
(
	[organizationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuPepperSalts]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuPepperSalts](
	[saltId] [int] IDENTITY(1,1) NOT NULL,
	[saltPurpose] [varchar](20) NOT NULL,
	[saltValue] [varbinary](64) NOT NULL,
	[createdAt] [datetime2](6) NOT NULL,
	[rotatedAt] [datetime2](6) NULL,
	[isActive] [bit] NOT NULL,
	[comment] [nvarchar](200) NULL,
 CONSTRAINT [PK_VotuPepperSalts] PRIMARY KEY CLUSTERED 
(
	[saltId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuPermissions]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuPermissions](
	[permissionId] [int] IDENTITY(1,1) NOT NULL,
	[permissionName] [varchar](50) NOT NULL,
	[description] [varchar](250) NULL,
	[createdAt] [datetime] NULL,
 CONSTRAINT [PK_VotuPermissions] PRIMARY KEY CLUSTERED 
(
	[permissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuProposalDocuments]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuProposalDocuments](
	[proposalDocumentId] [int] IDENTITY(1,1) NOT NULL,
	[documentType] [varchar](60) NOT NULL,
	[fileName] [varchar](300) NOT NULL,
	[fileExtension] [varchar](10) NOT NULL,
	[fileSizeBytes] [bigint] NOT NULL,
	[fileHash] [varbinary](64) NOT NULL,
	[encryptedContent] [varbinary](max) NOT NULL,
	[mimeType] [varchar](100) NOT NULL,
	[validationStatus] [varchar](30) NOT NULL,
	[validationMessage] [varchar](1000) NULL,
	[validatedAt] [datetime] NULL,
	[createdAt] [datetime] NULL,
	[isActive] [bit] NOT NULL,
	[proposalID] [int] NOT NULL,
	[uploadedByUserID] [int] NULL,
	[aiValidationTaskID] [int] NULL,
 CONSTRAINT [PK_VotuProposalDocuments] PRIMARY KEY CLUSTERED 
(
	[proposalDocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuProposals]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuProposals](
	[proposalId] [int] IDENTITY(1,1) NOT NULL,
	[proposalCode] [varchar](20) NOT NULL,
	[title] [varchar](60) NOT NULL,
	[sumarry] [varchar](500) NOT NULL,
	[fullDescription] [varchar](max) NOT NULL,
	[currentVersion] [int] NOT NULL,
	[budgetRequired] [decimal](18, 2) NULL,
	[executionPlanJSON] [varchar](max) NULL,
	[disbursementPlanJSON] [varchar](max) NULL,
	[investmentDeadline] [datetime] NULL,
	[executionStartDate] [datetime] NULL,
	[executionEndDate] [datetime] NULL,
	[expectedROI] [decimal](18, 2) NULL,
	[impactAnalysisJSON] [varchar](max) NULL,
	[beneficiariesCount] [int] NULL,
	[geographicScope] [varchar](40) NULL,
	[hasGovernmentEndorsement] [int] NOT NULL,
	[governmentBenefitsJSON] [varchar](max) NULL,
	[employmentRequiremnets] [int] NULL,
	[locationRequirements] [varchar](500) NULL,
	[proposalHash] [varbinary](64) NOT NULL,
	[encryptedContent] [varbinary](max) NOT NULL,
	[createdAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[publishedAt] [datetime] NULL,
	[votingStartDate] [datetime] NULL,
	[votingEndDate] [datetime] NULL,
	[isActive] [bit] NOT NULL,
	[proposalTypeID] [int] NOT NULL,
	[createdByUserID] [int] NOT NULL,
	[organizationID] [int] NOT NULL,
	[statusID] [int] NOT NULL,
	[budgetCurrencyID] [int] NULL,
 CONSTRAINT [PK_VotuProposals] PRIMARY KEY CLUSTERED 
(
	[proposalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuProposalStatus]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuProposalStatus](
	[proposalStatusId] [int] IDENTITY(1,1) NOT NULL,
	[statusCode] [varchar](30) NOT NULL,
	[statusName] [varchar](100) NOT NULL,
	[statusCategory] [varchar](20) NOT NULL,
	[description] [varchar](500) NULL,
	[allowsEditing] [bit] NOT NULL,
	[allowsComments] [bit] NOT NULL,
	[allowsVoting] [bit] NOT NULL,
	[allowsInvestment] [bit] NOT NULL,
	[allowsFiscalization] [bit] NOT NULL,
	[isTerminalStatus] [bit] NOT NULL,
	[nextPossibleStatus] [varchar](500) NULL,
	[requiredDayInStatus] [int] NULL,
	[maxDaysInStatus] [int] NULL,
	[sortOrder] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_VotuProposalStatus] PRIMARY KEY CLUSTERED 
(
	[proposalStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuProposalTypes]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuProposalTypes](
	[proposalTypeId] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [varchar](60) NOT NULL,
	[category] [varchar](60) NOT NULL,
	[description] [varchar](500) NULL,
	[requiredDocuments] [varchar](1000) NOT NULL,
	[validationRules] [varchar](1000) NOT NULL,
	[requiresBudget] [bit] NOT NULL,
	[requiresExecutionPlan] [bit] NOT NULL,
	[requiresImpactAnalysis] [bit] NOT NULL,
	[requiresManualValidation] [bit] NOT NULL,
	[validatorRequired] [int] NULL,
	[minVotingDays] [int] NOT NULL,
	[maxVotingDays] [int] NOT NULL,
	[allosInvestment] [bit] NOT NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_VotuProposalTypes] PRIMARY KEY CLUSTERED 
(
	[proposalTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuProposalValidations]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuProposalValidations](
	[proposalValidationId] [int] IDENTITY(1,1) NOT NULL,
	[validationType] [varchar](20) NOT NULL,
	[validationResult] [varchar](20) NOT NULL,
	[score] [decimal](5, 2) NULL,
	[validationCriteria] [varchar](max) NOT NULL,
	[comments] [varchar](500) NULL,
	[requiredChanges] [varchar](1000) NULL,
	[validatedAt] [datetime] NOT NULL,
	[signatureHash] [varbinary](256) NULL,
	[isActive] [bit] NOT NULL,
	[proposalID] [int] NOT NULL,
	[validationUserID] [int] NULL,
	[validatorKeyShareID] [int] NULL,
	[aiTaskID] [int] NULL,
 CONSTRAINT [PK_VotuProposalValidations] PRIMARY KEY CLUSTERED 
(
	[proposalValidationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuProvinces]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuProvinces](
	[provincesId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
	[createdAt] [datetime] NULL,
	[updateAt] [datetime] NULL,
	[countryID] [int] NOT NULL,
 CONSTRAINT [PK_VotuProvinces] PRIMARY KEY CLUSTERED 
(
	[provincesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuRoles]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuRoles](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [varchar](50) NOT NULL,
	[description] [varchar](250) NULL,
	[createdAt] [datetime] NULL,
	[lastUpdate] [datetime] NULL,
 CONSTRAINT [PK_VotuRoles] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuRolesPermissions]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuRolesPermissions](
	[rolePermissionId] [int] IDENTITY(1,1) NOT NULL,
	[roleID] [int] NOT NULL,
	[permissionID] [int] NOT NULL,
	[createdAt] [datetime] NULL,
	[lastUpdate] [datetime] NULL,
 CONSTRAINT [PK_VotuRolesPermissions] PRIMARY KEY CLUSTERED 
(
	[rolePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuSecurityEvents]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuSecurityEvents](
	[eventId] [bigint] IDENTITY(1,1) NOT NULL,
	[actorHash] [varbinary](64) NOT NULL,
	[eventType] [varchar](30) NOT NULL,
	[targetEntity] [varchar](50) NULL,
	[payloadHash] [varbinary](64) NULL,
	[ip] [varchar](45) NULL,
	[createdAt] [datetime2](6) NOT NULL,
 CONSTRAINT [PK_VotuSecurityEvents] PRIMARY KEY CLUSTERED 
(
	[eventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuUserKeys]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuUserKeys](
	[userKeyId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[keyID] [int] NOT NULL,
	[purpose] [varchar](6) NOT NULL,
	[isActive] [bit] NOT NULL,
	[assignedAt] [datetime2](6) NOT NULL,
	[revokedAt] [datetime2](6) NULL,
	[lastUsedAt] [datetime2](6) NULL,
	[comment] [nvarchar](200) NULL,
 CONSTRAINT [PK_VotuUserKeys] PRIMARY KEY CLUSTERED 
(
	[userKeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuUserOrganizations]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuUserOrganizations](
	[userOrganizationId] [int] IDENTITY(1,1) NOT NULL,
	[role] [varchar](60) NOT NULL,
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NULL,
	[canCreateProposals] [bit] NOT NULL,
	[canManageOrganization] [bit] NOT NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[isActive] [bit] NOT NULL,
	[userID] [int] NOT NULL,
	[organizationID] [int] NOT NULL,
 CONSTRAINT [PK_VotuUserOrganizations] PRIMARY KEY CLUSTERED 
(
	[userOrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuUserRoles]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuUserRoles](
	[userRoleId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[roleID] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdAt] [datetime] NULL,
	[lastUpdate] [datetime] NULL,
 CONSTRAINT [PK_VotuUserRoles] PRIMARY KEY CLUSTERED 
(
	[userRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuUsers]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuUsers](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdAt] [datetime] NULL,
	[lastUpdate] [datetime] NULL,
	[addressID] [int] NULL,
 CONSTRAINT [PK_VotuUsers] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuVotes]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuVotes](
	[voteId] [bigint] IDENTITY(1,1) NOT NULL,
	[voterHash] [varbinary](64) NOT NULL,
	[voteEncrypted] [varbinary](max) NOT NULL,
	[voteHash] [varbinary](64) NOT NULL,
	[voteWeight] [decimal](5, 2) NOT NULL,
	[votedAt] [datetime] NOT NULL,
	[ipHash] [varbinary](32) NULL,
	[deviceFingerprint] [varbinary](64) NULL,
	[mfaVerified] [bit] NULL,
	[livenessCheckPassed] [bit] NULL,
	[proposalID] [int] NOT NULL,
	[votingSegmentID] [int] NULL,
 CONSTRAINT [PK_VotuVotes] PRIMARY KEY CLUSTERED 
(
	[voteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuVotingConfigurations]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuVotingConfigurations](
	[votingConfigurationsId] [int] IDENTITY(1,1) NOT NULL,
	[votingType] [varchar](30) NOT NULL,
	[votingStartDate] [datetime] NOT NULL,
	[votingEndDate] [datetime] NOT NULL,
	[earlyEnd] [bit] NOT NULL,
	[minimumVotes] [int] NULL,
	[minimumParticipationPercentage] [decimal](5, 2) NULL,
	[acceptanceThresholdType] [varchar](40) NOT NULL,
	[acceptanceThresholdValue] [decimal](5, 2) NOT NULL,
	[requiresMinimumPerSegment] [bit] NOT NULL,
	[notificationMethod] [varchar](30) NOT NULL,
	[notificationTemplateID] [int] NULL,
	[reminderDaysBefore] [int] NOT NULL,
	[allowedIPRanges] [varchar](1000) NULL,
	[votingHoursStart] [time](7) NULL,
	[votingHoursEnd] [time](7) NULL,
	[weekdaysOnly] [bit] NULL,
	[questionJSON] [varchar](max) NOT NULL,
	[allowComments] [bit] NOT NULL,
	[configurationHash] [varbinary](64) NOT NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[isLocked] [bit] NOT NULL,
	[isActive] [bit] NOT NULL,
	[proposalID] [int] NOT NULL,
	[configuredbyUserID] [int] NOT NULL,
	[approvedbyUserID] [int] NULL,
 CONSTRAINT [PK_VotuVotingConfigurations] PRIMARY KEY CLUSTERED 
(
	[votingConfigurationsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuVotingResults]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuVotingResults](
	[voteResultsId] [int] IDENTITY(1,1) NOT NULL,
	[voteCount] [int] NOT NULL,
	[weightedVoteCount] [decimal](18, 2) NOT NULL,
	[percentage] [decimal](5, 2) NOT NULL,
	[segmentParticipation] [decimal](5, 2) NULL,
	[lastCalculatedAt] [datetime] NOT NULL,
	[calculationHash] [varbinary](64) NOT NULL,
	[isPartialResult] [bit] NOT NULL,
	[isFinalResult] [bit] NOT NULL,
	[proposalID] [int] NOT NULL,
	[votingSegmentID] [int] NULL,
	[questionID] [varchar](50) NOT NULL,
	[optionID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_VotuVotingResults] PRIMARY KEY CLUSTERED 
(
	[voteResultsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuVotingSegments]    Script Date: 2/6/2025 23:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuVotingSegments](
	[votingSegmentId] [int] IDENTITY(1,1) NOT NULL,
	[segmentName] [varchar](100) NOT NULL,
	[segmentType] [varchar](30) NOT NULL,
	[ageMin] [int] NULL,
	[ageMax] [int] NULL,
	[genderFilter] [varchar](10) NULL,
	[educationLevels] [varchar](500) NULL,
	[professions] [varchar](1000) NULL,
	[nationalityRequired] [varchar](3) NULL,
	[voteWeight] [decimal](5, 2) NOT NULL,
	[minimumParticipation] [int] NOT NULL,
	[userIdentifiersList] [varchar](max) NULL,
	[createdAt] [datetime] NULL,
	[isActive] [bit] NOT NULL,
	[votingConfigurationsID] [int] NOT NULL,
	[countryID] [int] NULL,
	[provinceID] [int] NULL,
	[cantonID] [int] NULL,
	[districtID] [int] NULL,
	[organizationsIDs] [varchar](500) NULL,
	[institutionTypes] [varchar](500) NULL,
 CONSTRAINT [PK_VotuVotingSegments] PRIMARY KEY CLUSTERED 
(
	[votingSegmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_AITasks_running]    Script Date: 2/6/2025 23:12:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uq_AITasks_running] ON [dbo].[VotuAITasks]
(
	[modelID] ASC,
	[entityTable] ASC,
	[entityId] ASC
)
WHERE ([status]='RUNNING')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_VotuEncriptionKeys_active]    Script Date: 2/6/2025 23:12:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uq_VotuEncriptionKeys_active] ON [dbo].[VotuEncriptionKeys]
(
	[keyType] ASC,
	[purpose] ASC
)
WHERE ([isActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_VotuPepperSalts_active]    Script Date: 2/6/2025 23:12:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uq_VotuPepperSalts_active] ON [dbo].[VotuPepperSalts]
(
	[saltPurpose] ASC
)
WHERE ([isActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_VotuSecurityEvents_actor]    Script Date: 2/6/2025 23:12:53 ******/
CREATE NONCLUSTERED INDEX [ix_VotuSecurityEvents_actor] ON [dbo].[VotuSecurityEvents]
(
	[actorHash] ASC,
	[createdAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_VotuUserKeys_active]    Script Date: 2/6/2025 23:12:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uq_VotuUserKeys_active] ON [dbo].[VotuUserKeys]
(
	[userID] ASC,
	[purpose] ASC
)
WHERE ([isActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VotuAccessRestrictions] ADD  CONSTRAINT [DF_VotuAccessRestrictions_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuAIModels] ADD  CONSTRAINT [DF_VotuAIModels_isEnabled]  DEFAULT ((1)) FOR [isEnabled]
GO
ALTER TABLE [dbo].[VotuAIModels] ADD  CONSTRAINT [DF_VotuAIModels_createdAt]  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[VotuAITaskPayloads] ADD  CONSTRAINT [DF_VotuAITaskPayloads_createdAt]  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[VotuAITasks] ADD  CONSTRAINT [DF_VotuAITasks_status]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[VotuAITasks] ADD  CONSTRAINT [DF_VotuAITasks_requestedAt]  DEFAULT (sysutcdatetime()) FOR [requestedAt]
GO
ALTER TABLE [dbo].[VotuAIValidationResults] ADD  CONSTRAINT [DF_VotuAIValidationResults_createdAt]  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[VotuComments] ADD  CONSTRAINT [DF_VotuComments_isFiscalization]  DEFAULT ((0)) FOR [isFiscalization]
GO
ALTER TABLE [dbo].[VotuComments] ADD  CONSTRAINT [DF_VotuComments_validatedByAI]  DEFAULT ((0)) FOR [validatedByAI]
GO
ALTER TABLE [dbo].[VotuComments] ADD  CONSTRAINT [DF_VotuComments_requiresVoting]  DEFAULT ((0)) FOR [requiresVoting]
GO
ALTER TABLE [dbo].[VotuComments] ADD  CONSTRAINT [DF_VotuComments_likesCount]  DEFAULT ((0)) FOR [likesCount]
GO
ALTER TABLE [dbo].[VotuComments] ADD  CONSTRAINT [DF_VotuComments_isEdited]  DEFAULT ((0)) FOR [isEdited]
GO
ALTER TABLE [dbo].[VotuComments] ADD  CONSTRAINT [DF_VotuComments_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[VotuCountries] ADD  CONSTRAINT [DF_VotuCountries_allowsVoting]  DEFAULT ((1)) FOR [allowsVoting]
GO
ALTER TABLE [dbo].[VotuEncriptionKeys] ADD  CONSTRAINT [DF_VotuEncriptionKeys_createdAt]  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[VotuEncriptionKeys] ADD  CONSTRAINT [DF_VotuEncriptionKeys_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuIdentityChecks] ADD  CONSTRAINT [DF_VotuIdentityChecks_checkedAt]  DEFAULT (sysutcdatetime()) FOR [checkedAt]
GO
ALTER TABLE [dbo].[VotuKeyShares] ADD  CONSTRAINT [DF_VotuKeyShares_createdAt]  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[VotuLedger] ADD  CONSTRAINT [DF_VotuLedger_timestamp]  DEFAULT (sysutcdatetime()) FOR [timestamp]
GO
ALTER TABLE [dbo].[VotuMFA] ADD  CONSTRAINT [DF_VotuMFA_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuMFAMethods] ADD  CONSTRAINT [DF_VotuMFAMethods_addedAt]  DEFAULT (sysutcdatetime()) FOR [addedAt]
GO
ALTER TABLE [dbo].[VotuMFAMethods] ADD  CONSTRAINT [DF_VotuMFAMethods_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuOrganizations] ADD  CONSTRAINT [DF_VotuOrganizations_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VotuOrganizationTypes] ADD  CONSTRAINT [DF_VotuOrganizationTypes_requiresValidation]  DEFAULT ((0)) FOR [requiresValidation]
GO
ALTER TABLE [dbo].[VotuOrganizationTypes] ADD  CONSTRAINT [DF_VotuOrganizationTypes_canCreateProposals]  DEFAULT ((1)) FOR [canCreateProposals]
GO
ALTER TABLE [dbo].[VotuOrganizationTypes] ADD  CONSTRAINT [DF_VotuOrganizationTypes_canInvest]  DEFAULT ((1)) FOR [canInvest]
GO
ALTER TABLE [dbo].[VotuOrganizationTypes] ADD  CONSTRAINT [DF_VotuOrganizationTypes_canValidate]  DEFAULT ((0)) FOR [canValidate]
GO
ALTER TABLE [dbo].[VotuPepperSalts] ADD  CONSTRAINT [DF_VotuPepperSalts_createdAt]  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[VotuPepperSalts] ADD  CONSTRAINT [DF_VotuPepperSalts_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuProposalDocuments] ADD  CONSTRAINT [DF_VotuProposalDocuments_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuProposals] ADD  CONSTRAINT [DF_VotuProposals_currentVersion]  DEFAULT ((1)) FOR [currentVersion]
GO
ALTER TABLE [dbo].[VotuProposals] ADD  CONSTRAINT [DF_VotuProposals_hasGovernmentEndorsement]  DEFAULT ((0)) FOR [hasGovernmentEndorsement]
GO
ALTER TABLE [dbo].[VotuProposals] ADD  CONSTRAINT [DF_VotuProposals_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuProposalStatus] ADD  CONSTRAINT [DF_VotuProposalStatus_allowsEditing]  DEFAULT ((0)) FOR [allowsEditing]
GO
ALTER TABLE [dbo].[VotuProposalStatus] ADD  CONSTRAINT [DF_VotuProposalStatus_allowsComments]  DEFAULT ((0)) FOR [allowsComments]
GO
ALTER TABLE [dbo].[VotuProposalStatus] ADD  CONSTRAINT [DF_VotuProposalStatus_allowsVoting]  DEFAULT ((0)) FOR [allowsVoting]
GO
ALTER TABLE [dbo].[VotuProposalStatus] ADD  CONSTRAINT [DF_VotuProposalStatus_allowsInvestment]  DEFAULT ((0)) FOR [allowsInvestment]
GO
ALTER TABLE [dbo].[VotuProposalStatus] ADD  CONSTRAINT [DF_VotuProposalStatus_allowsFiscalization]  DEFAULT ((0)) FOR [allowsFiscalization]
GO
ALTER TABLE [dbo].[VotuProposalStatus] ADD  CONSTRAINT [DF_VotuProposalStatus_isTerminalStatus]  DEFAULT ((0)) FOR [isTerminalStatus]
GO
ALTER TABLE [dbo].[VotuProposalStatus] ADD  CONSTRAINT [DF_VotuProposalStatus_sortOrder]  DEFAULT ((0)) FOR [sortOrder]
GO
ALTER TABLE [dbo].[VotuProposalStatus] ADD  CONSTRAINT [DF_VotuProposalStatus_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[VotuProposalStatus] ADD  CONSTRAINT [DF_VotuProposalStatus_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VotuProposalTypes] ADD  CONSTRAINT [DF_VotuProposalTypes_requiresBudget]  DEFAULT ((0)) FOR [requiresBudget]
GO
ALTER TABLE [dbo].[VotuProposalTypes] ADD  CONSTRAINT [DF_VotuProposalTypes_requiresExecutionPlan]  DEFAULT ((0)) FOR [requiresExecutionPlan]
GO
ALTER TABLE [dbo].[VotuProposalTypes] ADD  CONSTRAINT [DF_VotuProposalTypes_requiresImpactAnalysis]  DEFAULT ((0)) FOR [requiresImpactAnalysis]
GO
ALTER TABLE [dbo].[VotuProposalTypes] ADD  CONSTRAINT [DF_VotuProposalTypes_requiresManualValidation]  DEFAULT ((0)) FOR [requiresManualValidation]
GO
ALTER TABLE [dbo].[VotuProposalTypes] ADD  CONSTRAINT [DF_VotuProposalTypes_minVotingDays]  DEFAULT ((10)) FOR [minVotingDays]
GO
ALTER TABLE [dbo].[VotuProposalTypes] ADD  CONSTRAINT [DF_VotuProposalTypes_maxVotingDays]  DEFAULT ((40)) FOR [maxVotingDays]
GO
ALTER TABLE [dbo].[VotuProposalTypes] ADD  CONSTRAINT [DF_VotuProposalTypes_allosInvestment]  DEFAULT ((1)) FOR [allosInvestment]
GO
ALTER TABLE [dbo].[VotuProposalTypes] ADD  CONSTRAINT [DF_VotuProposalTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VotuProposalValidations] ADD  CONSTRAINT [DF_VotuProposalValidations_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuSecurityEvents] ADD  CONSTRAINT [DF_VotuSecurityEvents_createdAt]  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[VotuUserKeys] ADD  CONSTRAINT [DF_VotuUserKeys_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuUserKeys] ADD  CONSTRAINT [DF_VotuUserKeys_assignedAt]  DEFAULT (sysutcdatetime()) FOR [assignedAt]
GO
ALTER TABLE [dbo].[VotuUserOrganizations] ADD  CONSTRAINT [DF_VotuUserOrganizations_canCreateProposals]  DEFAULT ((0)) FOR [canCreateProposals]
GO
ALTER TABLE [dbo].[VotuUserOrganizations] ADD  CONSTRAINT [DF_VotuUserOrganizations_canManageOrganization]  DEFAULT ((0)) FOR [canManageOrganization]
GO
ALTER TABLE [dbo].[VotuUserOrganizations] ADD  CONSTRAINT [DF_VotuUserOrganizations_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuUserRoles] ADD  CONSTRAINT [DF_VotuUserRoles_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuUsers] ADD  CONSTRAINT [DF_VotuUsers_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuVotes] ADD  CONSTRAINT [DF_VotuVotes_voteWeight]  DEFAULT ((1.00)) FOR [voteWeight]
GO
ALTER TABLE [dbo].[VotuVotes] ADD  CONSTRAINT [DF_VotuVotes_mfaVerified]  DEFAULT ((1)) FOR [mfaVerified]
GO
ALTER TABLE [dbo].[VotuVotes] ADD  CONSTRAINT [DF_VotuVotes_livenessCheckPassed]  DEFAULT ((1)) FOR [livenessCheckPassed]
GO
ALTER TABLE [dbo].[VotuVotingConfigurations] ADD  CONSTRAINT [DF_VotuVotingConfigurations_earlyEnd]  DEFAULT ((0)) FOR [earlyEnd]
GO
ALTER TABLE [dbo].[VotuVotingConfigurations] ADD  CONSTRAINT [DF_VotuVotingConfigurations_requiresMinimumPerSegment]  DEFAULT ((0)) FOR [requiresMinimumPerSegment]
GO
ALTER TABLE [dbo].[VotuVotingConfigurations] ADD  CONSTRAINT [DF_VotuVotingConfigurations_reminderDaysBefore]  DEFAULT ((3)) FOR [reminderDaysBefore]
GO
ALTER TABLE [dbo].[VotuVotingConfigurations] ADD  CONSTRAINT [DF_VotuVotingConfigurations_weekdaysOnly]  DEFAULT ((0)) FOR [weekdaysOnly]
GO
ALTER TABLE [dbo].[VotuVotingConfigurations] ADD  CONSTRAINT [DF_VotuVotingConfigurations_allowComments]  DEFAULT ((1)) FOR [allowComments]
GO
ALTER TABLE [dbo].[VotuVotingConfigurations] ADD  CONSTRAINT [DF_VotuVotingConfigurations_isLocked]  DEFAULT ((0)) FOR [isLocked]
GO
ALTER TABLE [dbo].[VotuVotingConfigurations] ADD  CONSTRAINT [DF_VotuVotingConfigurations_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuVotingResults] ADD  CONSTRAINT [DF_VotuVotingResults_voteCount]  DEFAULT ((0)) FOR [voteCount]
GO
ALTER TABLE [dbo].[VotuVotingResults] ADD  CONSTRAINT [DF_VotuVotingResults_weightedVoteCount]  DEFAULT ((0.00)) FOR [weightedVoteCount]
GO
ALTER TABLE [dbo].[VotuVotingResults] ADD  CONSTRAINT [DF_VotuVotingResults_percentage]  DEFAULT ((0.00)) FOR [percentage]
GO
ALTER TABLE [dbo].[VotuVotingResults] ADD  CONSTRAINT [DF_VotuVotingResults_lastCalculatedAt]  DEFAULT (getdate()) FOR [lastCalculatedAt]
GO
ALTER TABLE [dbo].[VotuVotingResults] ADD  CONSTRAINT [DF_VotuVotingResults_isPartialResult]  DEFAULT ((1)) FOR [isPartialResult]
GO
ALTER TABLE [dbo].[VotuVotingResults] ADD  CONSTRAINT [DF_VotuVotingResults_isFinalResult]  DEFAULT ((0)) FOR [isFinalResult]
GO
ALTER TABLE [dbo].[VotuVotingSegments] ADD  CONSTRAINT [DF_VotuVotingSegments_voteWeight]  DEFAULT ((1.00)) FOR [voteWeight]
GO
ALTER TABLE [dbo].[VotuVotingSegments] ADD  CONSTRAINT [DF_VotuVotingSegments_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[VotuAdresses]  WITH CHECK ADD  CONSTRAINT [DistritoIDFK1] FOREIGN KEY([distritoID])
REFERENCES [dbo].[VotuDistritos] ([distritosId])
GO
ALTER TABLE [dbo].[VotuAdresses] CHECK CONSTRAINT [DistritoIDFK1]
GO
ALTER TABLE [dbo].[VotuAITaskPayloads]  WITH CHECK ADD  CONSTRAINT [taskIDFK1] FOREIGN KEY([taskID])
REFERENCES [dbo].[VotuAITasks] ([taskId])
GO
ALTER TABLE [dbo].[VotuAITaskPayloads] CHECK CONSTRAINT [taskIDFK1]
GO
ALTER TABLE [dbo].[VotuAITasks]  WITH CHECK ADD  CONSTRAINT [modelIDFK1] FOREIGN KEY([modelID])
REFERENCES [dbo].[VotuAIModels] ([modelId])
GO
ALTER TABLE [dbo].[VotuAITasks] CHECK CONSTRAINT [modelIDFK1]
GO
ALTER TABLE [dbo].[VotuAIValidationResults]  WITH CHECK ADD  CONSTRAINT [taskIDFK2] FOREIGN KEY([taskID])
REFERENCES [dbo].[VotuAITasks] ([taskId])
GO
ALTER TABLE [dbo].[VotuAIValidationResults] CHECK CONSTRAINT [taskIDFK2]
GO
ALTER TABLE [dbo].[VotuCantones]  WITH CHECK ADD  CONSTRAINT [ProvincesID1] FOREIGN KEY([provincesID])
REFERENCES [dbo].[VotuProvinces] ([provincesId])
GO
ALTER TABLE [dbo].[VotuCantones] CHECK CONSTRAINT [ProvincesID1]
GO
ALTER TABLE [dbo].[VotuDistritos]  WITH CHECK ADD  CONSTRAINT [cantoneIDFK1] FOREIGN KEY([cantonesID])
REFERENCES [dbo].[VotuCantones] ([cantonesId])
GO
ALTER TABLE [dbo].[VotuDistritos] CHECK CONSTRAINT [cantoneIDFK1]
GO
ALTER TABLE [dbo].[VotuIdentities]  WITH CHECK ADD  CONSTRAINT [userIDFK1] FOREIGN KEY([userID])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuIdentities] CHECK CONSTRAINT [userIDFK1]
GO
ALTER TABLE [dbo].[VotuIdentityChecks]  WITH CHECK ADD  CONSTRAINT [userIDFK8] FOREIGN KEY([userID])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuIdentityChecks] CHECK CONSTRAINT [userIDFK8]
GO
ALTER TABLE [dbo].[VotuIdentityValidations]  WITH CHECK ADD  CONSTRAINT [userIDFK7] FOREIGN KEY([userID])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuIdentityValidations] CHECK CONSTRAINT [userIDFK7]
GO
ALTER TABLE [dbo].[VotuIdentityValidations]  WITH CHECK ADD  CONSTRAINT [validatorIDFK1] FOREIGN KEY([validatorID])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuIdentityValidations] CHECK CONSTRAINT [validatorIDFK1]
GO
ALTER TABLE [dbo].[VotuKeyShares]  WITH CHECK ADD  CONSTRAINT [keyIDFK2] FOREIGN KEY([keyID])
REFERENCES [dbo].[VotuEncriptionKeys] ([keyId])
GO
ALTER TABLE [dbo].[VotuKeyShares] CHECK CONSTRAINT [keyIDFK2]
GO
ALTER TABLE [dbo].[VotuKeyShares]  WITH CHECK ADD  CONSTRAINT [userIDFK5] FOREIGN KEY([userID])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuKeyShares] CHECK CONSTRAINT [userIDFK5]
GO
ALTER TABLE [dbo].[VotuMFA]  WITH CHECK ADD  CONSTRAINT [userIDFK3] FOREIGN KEY([userID])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuMFA] CHECK CONSTRAINT [userIDFK3]
GO
ALTER TABLE [dbo].[VotuMFAMethods]  WITH CHECK ADD  CONSTRAINT [userIDFK4] FOREIGN KEY([userID])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuMFAMethods] CHECK CONSTRAINT [userIDFK4]
GO
ALTER TABLE [dbo].[VotuProvinces]  WITH CHECK ADD  CONSTRAINT [CountryIDFK1] FOREIGN KEY([countryID])
REFERENCES [dbo].[VotuCountries] ([countryId])
GO
ALTER TABLE [dbo].[VotuProvinces] CHECK CONSTRAINT [CountryIDFK1]
GO
ALTER TABLE [dbo].[VotuRolesPermissions]  WITH CHECK ADD  CONSTRAINT [permissionIDFK1] FOREIGN KEY([permissionID])
REFERENCES [dbo].[VotuPermissions] ([permissionId])
GO
ALTER TABLE [dbo].[VotuRolesPermissions] CHECK CONSTRAINT [permissionIDFK1]
GO
ALTER TABLE [dbo].[VotuRolesPermissions]  WITH CHECK ADD  CONSTRAINT [roleIDFK2] FOREIGN KEY([roleID])
REFERENCES [dbo].[VotuRoles] ([roleId])
GO
ALTER TABLE [dbo].[VotuRolesPermissions] CHECK CONSTRAINT [roleIDFK2]
GO
ALTER TABLE [dbo].[VotuUserKeys]  WITH CHECK ADD  CONSTRAINT [keyIDFK1] FOREIGN KEY([keyID])
REFERENCES [dbo].[VotuEncriptionKeys] ([keyId])
GO
ALTER TABLE [dbo].[VotuUserKeys] CHECK CONSTRAINT [keyIDFK1]
GO
ALTER TABLE [dbo].[VotuUserKeys]  WITH CHECK ADD  CONSTRAINT [userIDFK6] FOREIGN KEY([userID])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuUserKeys] CHECK CONSTRAINT [userIDFK6]
GO
ALTER TABLE [dbo].[VotuUserRoles]  WITH CHECK ADD  CONSTRAINT [roleIDFK1] FOREIGN KEY([roleID])
REFERENCES [dbo].[VotuRoles] ([roleId])
GO
ALTER TABLE [dbo].[VotuUserRoles] CHECK CONSTRAINT [roleIDFK1]
GO
ALTER TABLE [dbo].[VotuUserRoles]  WITH CHECK ADD  CONSTRAINT [userIDFK2] FOREIGN KEY([userID])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuUserRoles] CHECK CONSTRAINT [userIDFK2]
GO
ALTER TABLE [dbo].[VotuUsers]  WITH CHECK ADD  CONSTRAINT [addressIDFK1] FOREIGN KEY([addressID])
REFERENCES [dbo].[VotuAdresses] ([addressId])
GO
ALTER TABLE [dbo].[VotuUsers] CHECK CONSTRAINT [addressIDFK1]
GO
ALTER TABLE [dbo].[VotuAITasks]  WITH CHECK ADD CHECK  (([status]='ERROR' OR [status]='DONE' OR [status]='RUNNING' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[VotuEncriptionKeys]  WITH CHECK ADD CHECK  (([purpose]='BOTH' OR [purpose]='SIG' OR [purpose]='ENC'))
GO
ALTER TABLE [dbo].[VotuIdentityValidations]  WITH CHECK ADD CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[VotuUserKeys]  WITH CHECK ADD CHECK  (([purpose]='BOTH' OR [purpose]='SIG' OR [purpose]='ENC'))
GO
USE [master]
GO
