USE [master]
GO
/****** Object:  Database [Caso3]    Script Date: 31/5/2025 23:15:34 ******/
CREATE DATABASE [Caso3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Caso3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Caso3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Caso3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Caso3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Caso3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Caso3]
GO
/****** Object:  Table [dbo].[VotuIdentities]    Script Date: 31/5/2025 23:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuIdentities](
	[identityId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[identityType] [varchar](50) NOT NULL,
	[identityNumber] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[expiresAt] [datetime] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[lastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_VotuIdentities] PRIMARY KEY CLUSTERED 
(
	[identityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuMFA]    Script Date: 31/5/2025 23:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuMFA](
	[mfaId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[MFAtype] [varchar](50) NOT NULL,
	[lastUsed] [datetime] NOT NULL,
	[lastUpdate] [datetime] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_VotuMFA] PRIMARY KEY CLUSTERED 
(
	[mfaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuPermissions]    Script Date: 31/5/2025 23:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuPermissions](
	[permissionId] [int] NOT NULL,
	[permissionName] [varchar](50) NOT NULL,
	[decription] [varchar](250) NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_VotuPermissions] PRIMARY KEY CLUSTERED 
(
	[permissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuRoles]    Script Date: 31/5/2025 23:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuRoles](
	[roleId] [int] NOT NULL,
	[roleName] [varchar](50) NOT NULL,
	[description] [varchar](250) NULL,
	[createdAt] [datetime] NOT NULL,
	[lastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_VotuRoles] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuRolesPermissions]    Script Date: 31/5/2025 23:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuRolesPermissions](
	[rolePermisionId] [int] NOT NULL,
	[roleId] [int] NOT NULL,
	[permissionId] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[lastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_VotuRolesPermissions] PRIMARY KEY CLUSTERED 
(
	[rolePermisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuUserRoles]    Script Date: 31/5/2025 23:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuUserRoles](
	[userRoleId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[roleId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[lastUpdate] [datetime] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_VotuUserRoles] PRIMARY KEY CLUSTERED 
(
	[userRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotuUsers]    Script Date: 31/5/2025 23:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotuUsers](
	[userId] [int] NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone] [int] NOT NULL,
	[password] [varchar](150) NOT NULL,
	[isActive] [bit] NOT NULL,
	[lastUpdate] [datetime] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_VotuUsers] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VotuIdentities]  WITH CHECK ADD  CONSTRAINT [FK_VotuIdentities_VotuUsers] FOREIGN KEY([userId])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuIdentities] CHECK CONSTRAINT [FK_VotuIdentities_VotuUsers]
GO
ALTER TABLE [dbo].[VotuMFA]  WITH CHECK ADD  CONSTRAINT [FK_VotuMFA_VotuUsers] FOREIGN KEY([userId])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuMFA] CHECK CONSTRAINT [FK_VotuMFA_VotuUsers]
GO
ALTER TABLE [dbo].[VotuRolesPermissions]  WITH CHECK ADD  CONSTRAINT [FK_VotuRolesPermissions_VotuPermissions] FOREIGN KEY([permissionId])
REFERENCES [dbo].[VotuPermissions] ([permissionId])
GO
ALTER TABLE [dbo].[VotuRolesPermissions] CHECK CONSTRAINT [FK_VotuRolesPermissions_VotuPermissions]
GO
ALTER TABLE [dbo].[VotuRolesPermissions]  WITH CHECK ADD  CONSTRAINT [FK_VotuRolesPermissions_VotuRoles] FOREIGN KEY([roleId])
REFERENCES [dbo].[VotuRoles] ([roleId])
GO
ALTER TABLE [dbo].[VotuRolesPermissions] CHECK CONSTRAINT [FK_VotuRolesPermissions_VotuRoles]
GO
ALTER TABLE [dbo].[VotuUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_VotuUserRoles_VotuRoles] FOREIGN KEY([roleId])
REFERENCES [dbo].[VotuRoles] ([roleId])
GO
ALTER TABLE [dbo].[VotuUserRoles] CHECK CONSTRAINT [FK_VotuUserRoles_VotuRoles]
GO
ALTER TABLE [dbo].[VotuUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_VotuUserRoles_VotuUsers] FOREIGN KEY([userId])
REFERENCES [dbo].[VotuUsers] ([userId])
GO
ALTER TABLE [dbo].[VotuUserRoles] CHECK CONSTRAINT [FK_VotuUserRoles_VotuUsers]
GO
USE [master]
GO
